@font-face {
	font-family: 'heming';
	src: url('./lib/assets/fonts/Heming.ttf') format('truetype');
}

@font-face {
	font-family: 'instrument';
	src: url('./lib/assets/fonts/InstrumentSans.ttf') format('truetype');
}

/* AI slop below */

/* System Font - .SF NS (San Francisco) */
/* System fonts are used throughout the site via -apple-system, BlinkMacSystemFont, etc. */

/* Lulo Clean W01 One Bold - Primary Brand Font */
/* NOTE: Font files must be added to /src/lib/assets/fonts/ */
@font-face {
	font-family: 'lulo-clean-w01-one-bold';
	src:
		url('./lib/assets/fonts/lulo-clean-w01-one-bold.woff2') format('woff2'),
		url('./lib/assets/fonts/lulo-clean-w01-one-bold.woff') format('woff'),
		url('./lib/assets/fonts/lulo-clean-w01-one-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* IBM Plex Mono */

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	src: url('./lib/assets/fonts/');
	font-family: 'IBM Plex Mono';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
